chromadb==1.5.5
fastapi==0.135.2
google-ai-generativelanguage==0.10.0
google-api-core==2.30.0
google-auth==2.49.1
google-genai==1.68.0
googleapis-common-protos==1.73.0
httpx==0.28.1
httpx-sse==0.4.3
langchain==0.3.28
langchain-chroma==0.2.6
langchain-community==0.3.31
langchain-core==0.3.83
langchain-google-genai==2.1.12
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langgraph==0.2.76
langgraph-checkpoint==2.1.2
langgraph-sdk==0.1.74
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pypdf==6.9.2
python-dotenv==1.2.2
sse-starlette==3.3.3
tavily-python==0.7.23
uvicorn==0.42.0
wikipedia==1.4.0
